[submodule "Xamarin.iOS.Slyce/Xamarin.iOS.Slyce/lib/Slyce-iOS-SDK"]
	path = Xamarin.iOS.Slyce/Xamarin.iOS.Slyce/lib/Slyce-iOS-SDK
	url = git@github.com:Slyce-Inc/Slyce-iOS-SDK.git
[submodule "Xamarin.iOS.Slyce/lib/Slyce-iOS-SDK"]
	path = Xamarin.iOS.Slyce/lib/Slyce-iOS-SDK
	url = git@github.com:Slyce-Inc/Slyce-iOS-SDK.git
[submodule "Xamarin.Android.Slyce/lib/Slyce-Android-SDK"]
	path = Xamarin.Android.Slyce/lib/Slyce-Android-SDK
	url = ../../Slyce-Inc/Slyce-Android-SDK
